body {
  box-sizing: border-box;
  width: 700px;
  margin: 0 auto;
}

header {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  height: 150px;
}

nav {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 20px;
}

h1 {
  display: inline-block;
  vertical-align: top;
}

h1:nth-child(2) {
  margin-left: 158px;
  text-align: left;
}

main {
  background-color: #abd0d5;
  text-align: center;
  height: 435px;
  padding-top: 50px;

}

div {
  background-color: #abd0d5;
  border-bottom: 10px solid #5cb1bc;
  border-right: 10px solid #5cb1bc;
  height: 100px;
  width: 150px;
  display: inline-block;
  color: grey;
  font-weight: bold;
  font-size: 80px;
  padding: 10px;
  vertical-align: top;
  font-family: 'Pangolin', cursive;
  color: black;
}

div:nth-child(3) , div:nth-child(7), div:nth-child(11) {
  border-right: 5px solid #abd0d5;
}

div:nth-child(9) , div:nth-child(10), div:nth-child(11) {
  border-bottom: 5px solid #abd0d5;
}

footer {
  clear: both;
  padding: 10px;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  font-family: 'Permanent Marker', cursive;
  width: 130px;
  padding: 20px;
  font-size: 20px;
  margin: 15px;
  margin-top: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 25px;
}

.playing {
  background-color: grey;
}

.notPlaying {
  background-color: white;
}

.color {
  background-color: grey;
}

.disColor {
  background-color: #abd0d5;
}

.disabledButton {
  opacity: 0.6;
  cursor: not-allowed;
}
