<!-- for homework you only need to pick one of the below feature

feature 1 - filter out stop words from your histogram

http://xpo6.com/list-of-english-stop-words/

feature 2 - add button to load comments in the articles show page

you will need to add a comment model and database table to the app
you will also need an api endpoint for fetching comments for an article
make an ajax call to fetch comments and build a list of comments from the api
endpoint when a user click on the load comments button

you may want to just seed some comments to make it easier -->


<a href="/articles/new">New Article</a>

<%#= link_to 'new article', '/article/new' %>
<%#= link_to 'new article', new_article_path %>

<% @articles.each do |article| %>

  <!-- <p><%#= link_to article.title, article %></p> -->

  <p><a href="/articles/<%= article.id %>"><%= article.title %></a></p>

<% end %>
