<!-- # Games of Rails
### Summary
Games on Rails is a web application with three games

*  Magic 8 Ball
*  Secret Number
*  Rock Paper Scissors

__Magic 8 Ball__
*  Magic 8 ball takes user's questions and returns an eerily prescient answer.

__Secret Number__
*  Users click a number between 1 and 10. The controller validates the guess and renders the win or lose view.

__Rock Paper Scissors__
*  Create a route that goes from `/games/rock_paper_scissors/:throw` to `games#rock_paper_scissors_play`
*  Use params[:throw] as the user's choice
*  Compare the 2! -->

<h1>Games</h1>

<a href="/games/magic_8_ball">Magic 8 Ball</a><br><hr>

<a href="/games/secret_number">Secret Number</a><br><hr>

<a href="/games/rock_paper_scissors">Rock Paper Scissors</a><br><hr>
