<style>

  .button {
    margin: 5px;
    width: 40px;
    height: 40px;
  }

  button:nth-child(1) {
    width: auto;
    height: auto;
    margin: 15px;
    margin-left: 30px;
  }

  .button:nth-child(2), .button:nth-child(11) {
    margin-left: 25px;
  }

</style>


<h1>Secret Number</h1>

<form action="#answer">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="button" value="1" class="button" name="number">
  <input type="button" value="2" class="button" name="number">
  <input type="button" value="3" class="button" name="number"><br>
  <input type="button" value="4" class="button" name="number">
  <input type="button" value="5" class="button" name="number">
  <input type="button" value="6" class="button" name="number">
  <input type="button" value="7" class="button" name="number"><br>
  <input type="button" value="8" class="button" name="number">
  <input type="button" value="9" class="button" name="number">
  <input type="button" value="10" class="button" name="number">

</form>

<!-- <form action="#answer">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="number">What's the secret number?</label>
  <input type="number" name="number" id="number">
  <button>Guess</button>

</form> -->

<% if @number %>
  <div id="answer">
    <h1><%= @answer %></h1>
  </div>
<% end %>

<form action="/games">
  <button >Back to Home Page</button>
</form>
